/* ==========================================================================
   Medusa - Corporate-Taxi
   ========================================================================== */

/*----------- HTML5 display definitions ---------*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
html, body, .contentWrap{
    height: 100%;
}
.tfsContainerCls{
    min-height: 100%;
    height: auto !important;
    margin: 0px auto -114px;
    padding-bottom: 114px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
.ruppySymbol:before{
    content: "₹";
    margin-right: 5px;
}
.ptFnt {
     font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.corp_sprite{
    background: url("//cdn1.taxiforsure.com/v2/img/corp/icons.png") no-repeat;
    display: inline-block;
}
.corp_sprite.realtime {
    width: 42px;
    height: 57px;
    background-position: -11px -9px;
}
.corp_sprite.realtime.activeIcon{
    background-position: -11px -78px;   
}
.corp_sprite.onepartner {
    width: 67px;
    height: 57px;
    background-position: -71px -9px;
}
.corp_sprite.onepartner.activeIcon{
    background-position: -71px -78px;   
}
.corp_sprite.costefficiency {
    width: 34px;
    height: 57px;
    background-position: -151px -9px;
}
.corp_sprite.costefficiency.activeIcon{
    background-position: -151px -78px;   
}
.corp_sprite.reliabiltyquality {
    width: 44px;
    height: 57px;
    background-position: -194px -9px;
}
.corp_sprite.reliabiltyquality.activeIcon{
    background-position: -194px -78px ;  
}
.corp_sprite.cashless {
    width: 52px;
    height: 57px;
    background-position: -244px -9px;
}
.corp_sprite.cashless.activeIcon{
    background-position: -244px -78px;
}
.corp_sprite.simplifybooking {
    width: 50px;
    height: 57px;
    background-position: -304px -9px;
}
.corp_sprite.simplifybooking.activeIcon{
    background-position: -304px -78px   
}
.bgFFF {background: #fff;}
.bgEBEC{background: #EBEBEC}
.color999{color: #999;}
.color333{color: #333;}
.color666{color: #666;}
.f18{font-size: 18px;}
.f16{font-size: 16px;}
.color5e{color: #5e5e5e}
.colorCCC{color: #ccc}
.colorFFF{color: #fff}
.colorEDED{color: #ededee;}
.alignCenter{text-align: center;}
.alignLeft{text-align: left;}
.fR{float: right;}
.fL{float: left;}
.dIB{display: inline-block;}
.dT{display: table;}
.fullWidth{ width: 100%;}
.txtArea {resize: none;}
.form-control{border-radius: 5px;}
.boldText{font-weight: bold;}
.checkLabel{font-weight: normal;cursor: pointer;}
.spanLink{cursor: pointer;text-decoration: underline;}
.curP{cursor: pointer;}
input[placeholder].form-control::-webkit-input-placeholder, textarea[placeholder].form-control::-webkit-input-placeholder {opacity: 0.7;}
input[placeholder].form-control:-moz-placeholder, textarea[placeholder].form-control:-moz-placeholder { /* Firefox 18- */opacity: 0.7;}
input[placeholder].form-control::-moz-placeholder, textarea[placeholder].form-control::-moz-placeholder {  /* Firefox 19+ */opacity: 0.7;}
input[placeholder].form-control:-ms-input-placeholder, textarea[placeholder].form-control:-ms-input-placeholder {  opacity: 0.7; }
.hidden {display: none;}
html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
/*Login Page*/
.logoWap .logoutBtn{
    margin-top: 44px;
    color: #555;
    cursor:pointer;
    float:right;
    text-decoration: underline;
}
footer {
    font-size: 10px;
}

/*New-Booking Page*/

/*Main Menu*/
.mainMenuWap .dropdown-menu {
    margin-top: 6px;
    margin-left: -40px;
}
.mainMenuWap .dropdown-menu li .menuItem {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    cursor: pointer;
    color: #333;
    white-space: nowrap;
}
.mainMenuWap .dropdown-menu li .menuItem:hover {
    background: #f8da15;
    text-decoration: none;
}
.modal-content, .dropdown-menu {
   border-radius: 0px !important;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    background-color: #ccc;
}
.btn {
    border-radius: 0px !important;
}
.btn {
    color: #222;
}
.btn:hover {
    color: #222;
}
.resetPass {
    background: #f8da15;
    border: none;
}
.resetPass:hover {
    background: #f8e77c;
}
/*New-Booking*/
.boookingWap {
    padding-top: 15px;
}
.boookingWap input, .boookingWap select, .boookingWap textarea, .boookingWap form button {
    border-radius: 0px;
}
.newForm {
    border: 1px solid #ededee;
    padding: 10px 20px;
}
.newForm .bookingHead {
    border-bottom: 1px solid #ededee;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.newForm .bookingHead select {
    margin-bottom: 15px;
}
.dropdown-list {
    position: absolute;
    z-index: 999;
    max-height: 350px;
    overflow-y: auto;
    padding: 0;
    left: 15px;
    right: 15px;
    background: #F8F8F8;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.2s ease-in;
    list-style: none;
    opacity: 1;
}
.dropdown-list li {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background: #F8F8F8;
}
.dropdown-list li input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}
.dropdown-list li:first-child {border-bottom: none;}
.dropdown-list li:first-child:hover {background: none;}
.dropdown-list li:hover {background: #f8da15;}

.swapArea {
    padding: 0 100px;
    margin-bottom: 10px;
}
.swapLocation .iconToggle {
    position: absolute;
    margin-left: -22px;
    top:-2px;
    cursor: pointer;
    z-index: 7;
}
.swapLocation .iconToggle img {
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}
.swapLocation .iconToggle img:hover {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.swapLocation {
    margin-top: 15px;
}
.swapLocation input.form-control {
   padding: 6px 12px 6px 20px;
}
.swapLocation input {
    width: 400px !important;
}
#newForm #tfsLoc {
    width: 400px;
    border: 1px solid #CCCCCC;
    height: 35px;
}
.rel{position:relative;}
.abs{position:absolute;}
.inlBlk{display:inline-block;}
.hide{display:none;}
#newForm .form-group{position:relative;}
#newForm label.error{color:#F37575; position:absolute; padding:2px 0 0 13px; font-size:12px; font-weight:normal; text-align:left;}
#newForm .form-group .move-down label.error{min-width:150px; top:33px; left:0;}
#newForm #tfsLoc select{width:380px;border: none;float: left;height: 32px;background: transparent;}
#newForm #tripType{padding-right:25px;}
#newForm #swapLocation.isToggle #tfsLoc select{float:right;}
#newForm #swapLocation.isToggle #pic1{}
#newForm #swapLocation.isToggle .iconToggle{left:50.3%;}
#newForm #swapLocation.isToggle #gglLoc{margin-left:12.1%;}
.pickupDate, #carType, .addinfo {
    margin-top: 20px;
}
.pickupTime table tbody tr td a {
    padding: 0 !important;
}
.confirmBooking {
    background: #f8da15;
    margin: 25px 0;
    padding: 10px 60px;
}
.estFare, .estFare:hover, .estFare:active, .estFare:visited {
    background: #525257;
    color: #f5f5f5 !important;
    font-size: 22px;
    border: none;
    margin-left: 22px;
}
.estFareDetails {
    background: #525257;
    color: #f5f5f5;
    position: absolute;
    top: 8px;
    left: 10%;
    z-index: 1060;
    display: none;
    width: 200px;
    padding: 8px;
    text-align: left;
    white-space: normal;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.estFareDetails > .arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  right: -10px;
  top: 35%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #525257;
}

/*Prepaid Panel*/
.prepaidWap {
    padding-left: 10px;
    padding-right: 10px;
}

.prepaidWap hr {
    margin: 15px 0;    
}

.prepaidWap .prepaidBalance label{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;    
}
.prepaidWap .prepaidBalance h4{
    color: #72c934;
    font-size: 22px;
    margin: 0;
}
.prepaidWap .estTrips label{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
    color: #cecdca;
}
.prepaidWap .estTrips h4{
    color: #cecdca;
    font-size: 22px;
    margin: 0;
}
.prepaidWap .panel-group .panel {
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    border: none;
}
.prepaidWap .panel-body {
    padding: 10px;
}
.prepaidWap .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 3px solid #72c934;
    border-radius: 0px;
    background: #fff;
}
.prepaidWap .glyphicon-chevron-right, .bookingRight .glyphicon-chevron-down {
    border-bottom: 4px solid #7a7c7d;
    padding: 0 10px 10px 10px;
    margin-right: -14px;
}
.bookingRight a {
    cursor: pointer;
}

/*Booking Summary*/
.bookingSummaryWap {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
.summaryTitle {
    font-size: 14px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom:0;
}
.summaryPanel {
    padding: 16px 0 3px;
    margin-left: 10px;
}
.bookingSummary label, .bookingSummary h4 {
    margin: 1px;
    line-height: 12px;
}
.bookingSummary label {
    font-size: 10px;
}
.bookingSummary h4 {
    font-size: 24px;
}
.green, .orange, .red {
    margin-bottom: 20px;
    padding-left: 15px;
}
.green {
    border-left: 3px solid #72c934;
}
.green h4{
    color: #72c934;
}
.orange {
    border-left: 3px solid #f6851a;
}
.orange h4{
    color: #f6851a;
}
.red {
    border-left: 3px solid #ee212d;
}
.red h4{
    color: #ee212d;
}


/*View booking table*/
.viewBookingWap {
    margin-top: 30px;
    border: 1px solid #ededee;
}
.viewBookingWap .bookingLists{min-height:200px;position: relative;padding-bottom: 25px;}
.viewBookingWap table button {
    border-radius: 0 !important;
    border: none !important;
}
.viewBookingWap table thead {
    background: #f5f5f5;
}
.viewBookingWap table thead tr th{
    text-align: center;
    vertical-align: middle;
}
.viewBookingWap table tbody tr td:first-child, .viewBookingWap table tbody tr td:last-child {
    text-align: center;
}
.viewBookingWap table tbody tr td {
    vertical-align: middle;
}
.viewBookingHead {
    padding: 10px;
}
.viewBookingHead h3, .bookingHead h3{
    margin:6px;
}
.toggleBooking {
    margin: 3px 10px;
}
.toggleBooking .currentBooking, .toggleBooking .pastBooking{
    padding: 5px 20px;
    border-radius: 10px;
}
.trackTaxiListWap.trackTaxiListWap .toggleBooking {
    margin: 0;
    width: 100%;
}
.trackTaxiListWap.trackTaxiListWap .toggleBooking label {
    font-size: 12px;
    padding: 5px;
    width: 50%;
    font-weight: 500;
}
.addFilter {
    background: #f8da15;
    border-radius: 0;
    border: none;
}
.popoverCorp {
    background: #f8da15;
    position: absolute;
    margin-top: 8px;
    z-index: 1060;    
    max-width: 400px;
    padding: 8px;
    text-align: left;
    white-space: normal;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.popoverCorp > .arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #f8da15;
}
.cancel {
    background: #ccc;
    margin-top: 5px;
}
.modify {
    background: #eee;
}

/*Custom - bootstrap*/
.form-control:focus {
    border-color: #f8da15 !important;
    outline: 0;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}
.img-circle {
    background: #ffffff;
    padding: 10px;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
    background: #f8da15;
}
.navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}



.loader, .spin{background:rgba(0,0,0,0.3); position:absolute; top:0; right:0; bottom:0; left:0; z-index:11;}
.spin .spinIcon{background:#fff url("http://cdn1.taxiforsure.com/v2/img/corp/cab.png") no-repeat 6px 6px; position:absolute; width:60px; height:60px; top:50%; left:50%; 
	margin:-30px 0 0 -30px; border-radius:70px; border:2px solid #f8da15;}
.loader{top:0px; right:15px; left:15px; padding-top:5px; text-align:center;}
.loader img{background:#fff; border-radius:15px; padding:1px; border:1px solid #f8da15;}
#resetPwd .modal-body .form-group{padding-top:5px;}
#resetPwd .modal-body .form-group label.error, #resetPwd .modal-body .form-group #resetErrorMsg{
	color:#F37575; position:absolute; padding-left:13px; font-size:12px; font-weight:normal;}
#resetPwd .modal-body .form-group #resetErrorMsg{padding-left:0;}

.bookingSuccess {
    background: #f8da15;
    border: none;
}
.bookingSuccess:hover {
    background: #f8e77c;
}
	
.dropSelect{
    height:34px; 
    width:100%;
    border:1px solid #ccc;
    
    padding:6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}    

.dropSelect:active{
border:1px solid #f8da15;
}

.dropList{top:30px; width: 100%; background:#ddd; left:0; z-index:11; padding:0; border:1px solid #ccc;}
.dropList li{
    background:#fff; 
    width:100%; 
    outline: none; 
    list-style:none; 
    line-height:20px; 
    cursor:pointer; 
    padding:5px 10px 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.dropList li:hover{background:#ccc;}

.form-horizontal .control-label {
    padding-top: 0 !important;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 460px !important;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}


/*Track Taxi List Panel*/
.trackLists{list-style:none; padding:0; margin:0;}

.trackLists li{min-height:38px; line-height:38px; font-size:11px; padding-left: 5px; cursor: pointer; cursor: hand; overflow: hidden;}

.trackLists li:nth-child(2n+1){background:#eee;}
.trackLists li span{width:50%; display:inline-block; float:left;}
.trackLists .bold{font-weight: bold; text-transform: capitalize;}

#trackTaxiMap {
    height:440px;
}

.panel-body {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
}

.backToBookings {
    text-align: left;
    width: 100%;
    background-color: #F8DA15;
}
.backToBookings:hover{
    cursor: pointer;
    background-color: #EEEA00;
}

.infoWindowContent {
    font-size:  12px !important;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

/*Payment Mode dropdown*/
.paymentMode, .paymentMode span, .paymentMode ul {
    width: 90px;
}
.wrap-dd-select.defaultPlaceHolder {
    color: rgba(0, 0, 0, 0.35)
}
.wrap-dd-select:after {
    right: 6px !important;
}
.wrap-dd-select .dropdown{
    display: none;
}
.wrap-dd-select.active .dropdown{display: block;}
header.newheader {
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.35);
    padding: 5px 0px;
}
header.newheader.fixheader{
    position: fixed;
    width: 100%;
    z-index: 14;
    top: 0px;
}
.fixheaderPhontom{
    height: 60px;
}
/*register style start*/
.homeBannerOvrTxt{padding-left: 10px;}
.ourReliabiltyTxt{margin-bottom: 80px;}
.tourList img {
    width: 100px;
}
.tourList {
    color: #ccc;
}
.featureBarCls{
    display: inline-block;
    height: 5px;
    width: 100%;
}
.featureBar {
    background: #D7D9DA;
    height: 7px;
    margin: 10px 0px;
}
.featureOverlayWrap {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 60px;
}
.corp_sprite.yellowCar {
    width: 98px;
    height: 52px;
    background-position: -225px -233px;
}
.featureOverlayWrap .yellowCarWrap{display:table-cell;vertical-align: bottom;padding-right: 10px;}
.featureTxt {display:table-cell;max-width:300px;vertical-align: bottom;padding: 10px;}
.tourSelect .featureBarCls{
    background: #f6de00;
}
.tourList .tourSelect {
    color: #333;
}
.tourSelect .tourTxt{
    position: relative;
    top: -4px;
}
.pdNumCircle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}
.pdNumCircle.activePDCircle{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
}
.termsTxt {
    overflow: auto;
    height: 80px;
}
.blueBtn{
    background: #029795;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #029795;
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.blueBtn:active, .blueBtn:focus, .blueBtn:hover{
     background: #fff;
    color: #029795;
    outline: 0px !important;
}
.loginBlueBtn:active, .loginBlueBtn:focus, .loginBlueBtn:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
    outline: 0px !important;
}
.blueBdrBtn{
    background: #fff;
    color: #029795;
    padding: 10px 25px;
    border: 2px solid #029795;
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.blueBdrBtn:active, .blueBdrBtn:focus, .blueBdrBtn:hover{
    background: #029795;
    color: #fff;
    outline: 0px !important;
}
.whiteBdrTxtBtn{
    background: transparent;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;   
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.whiteBdrTxtBtn:active, .whiteBdrTxtBtn:focus, .whiteBdrTxtBtn:hover{
    background: #029795;
    color: #fff;
    border-color: #029795;
    outline: 0px !important;
}
.corp_sprite.regIcons{
    position: absolute;
    left: -30px;
    top: -29px;
    width: 60px;
    height: 58px;
}
.corp_sprite.regIcons.companyDetailsIcon{
    background-position: 0px -156px;
}
.corp_sprite.regIcons.personneldetailsIcon{
    background-position: -76px -156px;
}
.corp_sprite.regIcons.tncCarIcon{
    background-position: -145px -156px;
}
.corp_sprite.regSuccessTick {
    width: 90px;
    height: 90px;
    background-position: -3px -301px;
}
#registerMsgWrapID .corp_sprite.regSuccessTick {
    float: left;
    margin-right: 24px;
    margin-top: 20px;
}
.registerBdrBox {
    border: 1px solid #ededee;
    border-radius: 10px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}
.enquiryBdrBox{
    border: 1px solid #f6de00;
    border-radius: 10px;
    position: relative;
    margin: 20px 0px;
    padding: 20px 0px;
}
.enqIcons{
    position: absolute;
    left: -21px;
    top: -21px;
    width: 41px;
    height: 42px;
}
.corp_sprite.callPendingIcon {
    background-position: -26px -439px;
}
.corp_sprite.callApprovedIcon {
    background-position: -26px -492px;
}
.bdr5{border-radius: 5px !important;}
.validateform  label.error{color:#F37575; font-size:12px; font-weight:normal; text-align:left;}
.whiteValidaForm label.error{color:#fff; font-size:12px; font-weight:normal; text-align:left;}
.loginSection{
    height: 100%;
    display: table;
    width: 100%;
    background: url(//cdn1.taxiforsure.com/v2/img/corp/login_background.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.loginSectionContainer {
  display: table-cell;
  vertical-align: middle;
}
.signin-form{
    max-width: 400px;
    margin: 0px auto 0 auto;
}
.logininput {
    height: 45px;
    background: #DCD4D0;
    font-size: 20px;
}
.featureTourTxt{
    font-weight: normal;
    line-height: 21px;
}
.forgotPass {
    margin-top: 10px;
}
.forgotPass:hover {
    color: #fff;
}
.cropHomeSignUpWrap {
    background: url("//cdn1.taxiforsure.com/v2/img/corp/bottom_background.jpg") no-repeat;
    background-size: 100% 100%;   
}
.homeHeader {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 0px;
}
.faqListUl{
    margin: 0px;
    padding: 0px;
}
.faqListUl li{
    list-style-type: none;
    cursor: pointer;
    text-align: right;
    font-size: 16px;
    padding: 10px 10px 10px 0px;
    margin-top: 5px;
    color: #666;
}
.faqListUl li:hover, .faqListUl li:active, .faqListUl li:focus, .faqListUl li.activeLi {
    background: #f6de00;
    color: #fff;
}
.hideIndicatorCls ol.carousel-indicators, .hideIndicatorCls .carousel-control {
    display: none;
}
/*register style end*/

/*Footer style*/
.homeFooter {
    background: #f8da15;
    padding: 15px 60px;
}
footer.homeFooter{
    color: #5e5e57;
}
footer.homeFooter h3{
    font-size: 24px;
    color: #222222;
}
footer.homeFooter a{
    text-transform: uppercase;
    color: #5e5e57;
    border-right: 1px solid #5e5e57;
    padding: 0 5px;
}
footer.homeFooter a.last{
    border-right: none;
}
.corpFooter {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
}
.corpFooter ul {
    list-style: none;
}
.corpFooter ul li a{
    color: #fff;
}
.corpFooter ul li {
    display: inline;
    padding: 10px;
    color: #fff;
}
/*Footer style end*/

/************ Fare chart *********************/
.fareChartWrap h3{float: left;margin-left: 5px;}
.fareChartWrap .cityDrop{float: left; width: 210px; margin: 12px;}
.fareChartWrap .dropdown-list {left: inherit; right: inherit;}
.fareChartContent, .fareChartWrap{clear: both;}
.airportTabNotPresnet{width: 33.33% !important;}
#termConditionContent {
    padding: 0px 0px 10px 0px;
    background: #676767;
    color: #f3f2f2;
    font-size: 13px;
}
.termCondition {
    padding: 1px 20px;
    background: #676767;
    color: #f3f2f2;
    box-shadow: 0 8px 6px -6px #000;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
}
.termCondition img, .termCondition p {
    margin-top: 10px;
}
/*fare chart city dropdown*/
.dropdown-list li {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    text-align: left;
}
.dropdown-list li input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}
.dropdown-list li:first-child {border-bottom: none;}
.dropdown-list li:first-child:hover {background: none;}
.dropdown-list li:hover {background: #f8da15;}
/** farechart tabs **/
.fareTabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0;
  text-align: left;
}
.fareTabs li {
    float: left;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: normal;
    color: #a3a3a3;
    background: #3f3f3f;
    cursor: pointer;
    display: block;
    width: 25%;
    border-left: 1px solid #ccc;
}
.fareTabs li:first-child {border-left: none;}
.fareTabs li.activeTabCls, .fareTabs li:hover, .fareTabs li:active, .fareTabs li:focus{
   background: #f8da15;
  color: #3f3f3f;  
}
.fare-tab-content {font-size: 17px;line-height: 25px;}
.fare-tab-content table{width: 100%;border: none;}
.fare-tab-content table thead tr th{
    text-transform: uppercase;
    text-align: center;
    color: #2f2f2e;
    background: #e9e9e8;
    padding: 5px;
    font-size: 13px;
    border-bottom: 1px solid #E6E6E6;
}
.fare-tab-content table tbody tr{text-align: center;padding: 10px;border-bottom: 1px solid #E6E6E6;}
.fare-tab-content table tbody tr:last-child{border-bottom: none;}
.fare-tab-content table tbody tr td:first-child{width: 100px;}
.fare-tab-content table tbody tr td p{margin: 10px;font-size: 16px;}
.fare-tab-content table tbody tr td p b{font-size: 21px;font-weight: normal;}
.fare-tab-content table tbody tr td span{color: #7f7f7f;}
/** fare-tables **/
/** car icons **/
.corpTaxiIcon {
  float: left;
  background: url('http://cdn1.taxiforsure.com/v2/img/corp/icon.png') no-repeat;
  display: inline-block;
  width: 70px;
  height: 32px;
  position: relative;
  left: 0;
  margin: 5px;
}
.corpTaxiIcon.hatchback {
  background-position: 0px 0px;
}
.corpTaxiIcon.sedan {
  width: 85px;
  height: 32px;
  background-position: 0px -31px;
}
.corpTaxiIcon.suv {
  width: 85px;
  height: 32px;
  background-position: 0px -64px;
}
.corpTaxiIcon.iday {
  width: 20px;
  height: 30px;
  background-position: -14px -91px;
  margin: 0 30px;
}
.corpTaxiIcon.inight {
  width: 20px;
  height: 30px;
  background-position: -50px -91px;
  margin: 0 45px;
}
/*farechart daynight css*/

.dayNightWap{
    cursor: pointer;
}
.dayNightWap .nightWrap label{
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.dayNightWap .nightWrap:hover, .dayNightWap .dayWrap:hover {
    background: #f8da15;
}
.dayNightWap .nightWrap {
    width: 110px;
	height: 60px;
	background: #fff;
    float: right;
}
.dayNightWap .dayWrap{
    width: 100px;
	height: 60px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: #f8da15;
    float: right;
    margin-right: -12px;
}
.dayNightWap .dayWrap i{
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg)
}
.dayNightWap .dayWrap label{
    font-size: 10px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
	-o-transform: skew(20deg);
    cursor: pointer;
    margin-left: 10px;
}

/** farechart Accordian **/
.fareChartContent .panel-group .panel {
    border-color: #ccc !important;
    border-radius: 0 !important;
    border-width: 0px 0px 1px 0px;
}
.fareChartContent .panel-group .panel-default > .panel-heading {
    background: #999;
    border-radius: 0 !important;
    color: #F2F2F2;
    cursor: pointer;
}
.fareChartContent .panel-group .panel + .panel {
 margin-top: 0px;
}
.fareChartContent .panel-body {
    padding: 0;
}
/***********end of fare chart css ***************/

/*TNC style*/
.tncContent {
    padding: 15px 30px;
    border-left: 1px solid #ccc;
    text-align: justify;
    color: #666;
    line-height: 170%;
}
.tncContent p{
    font-size: 14px;
}
.tncContent h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.tncContent ul li {
    list-style: disc;
}
.tncContent table tr td {
    padding: 0 10px;
    vertical-align: text-top;
    width: 33%;
}
.termsTxt.tncContent{
    border: 0px;
    padding: 0px 10px 0px 0px;
}
@-webkit-keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
       -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@moz-keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.scrollDwnPanel {
    position: fixed;
    color: #fff;
    right: 100px;
    bottom: 15px;
    z-index: 2;
    font-size: 18px;
    -webkit-animation: bounce 3s linear infinite;
       -moz-animation: bounce 3s linear infinite;
        animation: bounce 3s linear infinite;  
}
.scrollDwnPanel:hover, .scrollDwnPanel:focus, .scrollDwnPanel:active{
    color: #f2f2f2;
   -webkit-animation: none;
   -moz-animation: none;
    animation: none;
}
.corp_sprite.scrollDwnIcon {
    width: 22px;
    height: 22px;
    background-position: -223px -173px;
}
.scrollDwnPanel .scrollDwnIcon{
    position: relative;
    top: 5px;
}
/*TNC style end*/
.newHeader {
    background: #fff;
}
.navMenu ul li{
    list-style: none;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}
.newheader .navMenu  ul li a{
    color: #333;
    margin-right: 20px;
}
.newheader .navMenu ul li a:hover {
    color: #666;
}
.homeNavMenu ul li a{
    color: #fff;
    margin-right: 20px;
}
a.anchor{display: block; position: relative; top: -60px; visibility: hidden;}
.homeNavMenu ul li a:hover {
    color: #f2f2f2;
}
.headerLink:hover, .headerLink:active, .headerLink:focus {
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom-color: #f6de00;
    border-bottom-style: solid;
}
.fixedHeader {
    position: fixed;
    z-index: 2;
    width: 100%;
}
.tfsAccordion .panel-heading{padding: 0px;}
.tfsAccordion .panel-group{margin-bottom: 0px;}
.tfsAccordion a.accordion-toggle{display: block;padding:10px 15px;}
.myPager li{font-weight: bold;cursor: pointer;}
.myPager li > a:hover{background-color: #EEEA00;}
.invoiceDate{
    width: 200px !important;
    padding: 0 15px;
    height: 35px;
    border: 1px solid #ccc;
}
.invoiceDownload{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
}
.invoiceDownload label{
    padding: 0 10px;
}
.invoiceDownload button {
    width: 200px;
    margin-top: -2px;
    text-align: center;
}
.closingBalance {
    padding-bottom: 20px;
    padding-left: 25px;
}
.startingBalance{
    padding-top: 8px;
}
.prePaidWrap{margin: 20px 0px;border: 1px solid #ededee;padding: 20px;}
.prePaidWrap .pdNumCircle{background: #F2F2F2;}
.prePaidDivider{border-bottom: 1px solid #ededee;margin: 10px 0px;}
.panInput{width: 270px;letter-spacing: 2px;text-transform: uppercase;}
.wrap-dd-select.documentSelect {width: 270px;margin: 0px;border-radius: 5px;}
.hintTxt{font-size: 10px;color: #999;font-style: italic;}
.prepaidTableTd{margin-top: 5px;}
.mandatoryStar{color: #dd0017;font-size: 16px;position: relative;left: 2px;}
.pdfSuccessMark{color: green;margin-left: 10px;font-size: 20px;position: relative;top: 15px;}
.transHistoryPage{min-height: 20px}


#myMarquee{
  width: 100%;  
  position: fixed;
  overflow: hidden;
  bottom: 0;
  padding: 10px 10px;
  background: #f8da15;
  left: 0;
  z-index: 11;
  font-size: 14px;
  color: #333;
  box-shadow: 0 3px 15px #777;
}