<div class="spin" style="display: none;"><span class="spinIcon"></span></div>
<section class="loginSection">
 <div class="container loginSectionContainer">
      <div class="loginBody">
      		<form id="signInFormID" class="signin-form rel whiteValidaForm" ng-controller="loginController" role="form" name="form">
			        <input type="text" name="username" class="form-control logininput" placeholder="username / email" autofocus>
			        <input type="password" name="password" class="form-control logininput" placeholder="password" style="margin-top:20px;">
			        <button class="btn btn-lg btn-block blueBtn bdr5 loginBlueBtn" type="submit" ng-click="login()"  style="margin-top:20px;">LOGIN</button>
			        <div class="colorEDED"> 
			            <a href="/sign-up" class="fR colorEDED forgotPass">New users, Register here.</a>
			           <div class="clearfix"></div>
			        </div>
			        <div class="clearfix"></div>
			</form>
      </div>
      <div class="alignCenter" style="margin-top: 50px;">
      		<a href="/"><img src="http://cdn1.taxiforsure.com/v2/img/corp/corporate_logo_white.png" style="width: 200px;"></a>
      </div>
       <footer class="corpFooter">
            <ul>
                <li><a href="/#/">HOME</a></li>
                <li><a href="/#/tnc">TERMS & CONDITIONS</a></li>
                <li><a href="/#/faq">FAQ</a></li>
            </ul>
        </footer>
    </div> 
</section>