<div class="tfsContainerCls">
  <tfs-header></tfs-header>
    <section>
        <div class="tncContentWrap" style="margin: 20px 0px;">
            <div class="col-md-2" style="padding: 0px;width:250px;">
                <div class="ptFnt" style="padding-left: 20px;color: #666;">
                    <h1><span class="boldText">T</span>erms</h1>
                    <h1><span class="boldText">A</span>nd</h1>
                    <h1><span class="boldText">C</span>onditions</h1>
                </div>
            </div>
            <div class="col-md-9 tncContent">
                <tfs-tnc></tfs-tnc>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
<tfs-footer></tfs-footer>