<div class="addToilUser" ng-controller="addJobController">
  <div id="wrapper">
  <toil-left-bar></toil-left-bar>
  <toil-header></toil-header>

  <div id="addNewJob">
    <div class="row">
      <div class="col-md-9 col-md-offset-1 well well-sm main-well">ADD A NEW JOB</div>
    </div>
    <div class="row">
      <div class=" col-md-8 col-md-offset-1 well well-sm basicInfo">Basic Info</div>
      <button class="btn col-md-1 saveBtn" type="submit" ng-click="createNewJob()">Save</button>
    </div>
    <form id ="addJobForm" class="form-horizontal col-md-offset-1">
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label for="jobTitle" class="control-label">Job title</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control inputBox" id="jobTitle" ng-model="jobTitle">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Type of job</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedJobType" class="form-control" ng-options="x.type_id as x.type for x in jobTypes.data">
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Job Description</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-7">
          <textarea class="form-control" rows="4" ng-model="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Industry</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedIndustries" class="form-control" ng-options="x.industry_id as x.name for x in industries.data">
          </select>
        </div>
        <div class="col-md-2 text-right">
          <label class="control-label text-right">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="indWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label for="rate" class="control-label">Rate/Salary</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control inputBox" id="rate" ng-model="rateSal">
        </div>
        <div class="col-md-2 text-right">
          <label class="control-label">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="rateWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Currency</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedCurrency" class="form-control" ng-options="x.currency_id as x.name for x in currencies.data">
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Duration</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedDuration" class="form-control" ng-options="x.duration_id as x.duration for x in durations.data">
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Location-country</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedCountry" class="form-control" ng-options="x.country_id as x.name for x in country.data">
          </select>
        </div>
        <div class="col-md-2 text-right">
          <label class="control-label">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="countryWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Location-city</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control inputBox" id="LocCity" ng-model="city">
        </div>

<!--
        <div class="col-sm-3">
          <select class="form-control">
            <option>London</option>
            <option>New York</option>
          </select>
        </div>
-->
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Travel</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select class="form-control" ng-model="selectedTravel">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="col-md-2 text-right">
          <label class="control-label">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="travelWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 text-right">
          <label class="control-label">Primary language</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-sm-3">
          <select ng-model="selectedLanguage" class="form-control" ng-options="x.language_id as x.language for x in language.data">
          </select>
        </div>
        <div class="col-md-2 text-right">
          <label class="control-label">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="prlangWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-right">
          <label class="control-label">Start date</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-3">
          <div class="input-group pickupDate form-group ">
            <div ng-controller="DatepickerCtrl">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                       is-open="status.opened" ng-change="changed()"
                       min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" show-button-bar="false" ng-required="true" readonly/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i
                          class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          </div>
        <div class="col-md-2 text-right">
          <label class="control-label">How Important</label><span class="glyphicon glyphicon-menu-right arrowIcon"></span>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="stDateWtg">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      </form>
    <div class="row">
      <div class=" col-md-8 col-md-offset-1 well well-sm basicInfo">SAP SKILLS/COMPETENCE</div>
      <button class="btn col-md-1 saveBtn" type="submit">Save</button>
    </div>
    <form id ="addSkillsForm" class="form-horizontal col-md-offset-1">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <input type="hidden" ng-model="states" readonly/>

            <div class="wrap-dd-select" ng-click="showProfList()">
              <span class="skillsDDSelected" ng-bind="profSkill.name"></span>
            </div>
            <ul ng-model="example1" bs-selectbox class="dropdown-list prof-dropdown-list" style="display:none;">
              <li><input type="text" class="searchInput" ng-model="searchProfSkill" placeholder="Search Skill"/></li>
              <li class='divider'></li>
              <li ng-repeat="skill in skillsList | filter:searchProfSkill" ng-click="profSkillSelected(skill)">
                <div>
                  <label class="skLab"><input class="skIn" type="checkbox"/> {{skill.name}}</label>
                </div>

              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <input type="hidden" ng-model="states" readonly/>

            <div class="wrap-dd-select" ng-click="showProjList()">
              <span class="skillsDDSelected" ng-bind="projSkill.name"></span>
            </div>
            <ul ng-model="example1" bs-selectbox class="dropdown-list proj-dropdown-list " style="display:none;">
              <li><input type="text" class="searchInput" ng-model="searchProjSkill" placeholder="Search Skill"/></li>
              <li class='divider'></li>
              <li ng-repeat="skill in skillsList | filter:searchProjSkill" ng-click="projSkillSelected(skill)">
                <div>
                  <label class="skLab"><input class="skIn" type="checkbox"/> {{skill.name}}</label>
                </div>

              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <input type="hidden" ng-model="states" readonly/>

            <div class="wrap-dd-select" ng-click="showPersonalList()">
              <span class="skillsDDSelected" ng-bind="personalSkill.name"></span>
            </div>
            <ul ng-model="example1" bs-selectbox class="dropdown-list pres-dropdown-list" style="display:none;">
              <li><input type="text" class="searchInput" ng-model="searchPerSkill" placeholder="Search Skill"/></li>
              <li class='divider'></li>
              <!--<li ng-repeat="state in states | filter:searchCity" value="1" ng-click="citySelected(state)">{{ state.name }}</li>-->

              <li ng-repeat="skill in skillsList | filter:searchPerSkill" ng-click="personalSkillSelected(skill)">
                <div>
                  <label class="skLab"><input class="skIn" type="checkbox"/> {{skill.name}}</label>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>
