<div class="addToilUser">
  <div id="wrapper">
  <toil-left-bar></toil-left-bar>
  <toil-header></toil-header>
  <div class="tab-pane container" id="manageJobs" ng-controller="manageJobController">
    <div class="well well-sm main-well">Current Jobs</div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Job Title</th>
        <th>Date Posted</th>
        <th>Posted by</th>
        <th>Views</th>
        <th>Applicants</th>
        <th><span class="glyphicon glyphicon-pencil"></span></th>
        <th><span class="glyphicon glyphicon-trash"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="job in currentJobs.data">
        <td><span ng-bind="job.id"></span></td>
        <td><span ng-bind="job.jobTitle"></span></td>
        <td><span ng-bind="job.datePosted"></span></td>
        <td><span ng-bind="job.postedBy"></span></td>
        <td><span ng-bind="job.views"></span></td>
        <td><span ng-bind="job.applicants"></span></td>
        <td><span class="glyphicon glyphicon-pencil"></span></td>
        <td><span class="glyphicon glyphicon-trash" ng-click="deleteJob(job)"></span></td>
      </tr>
      </tbody>
    </table>

    <div class="well well-sm main-well">Achived Jobs</div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Job Title</th>
        <th>Date Posted</th>
        <th>Posted by</th>
        <th>Views</th>
        <th>Applicants</th>
        <th><span class="glyphicon glyphicon-pencil"></span></th>
        <th><span class="glyphicon glyphicon-trash"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="job in archivedJobs.data">
        <td><span ng-bind="job.id"></span></td>
        <td><span ng-bind="job.jobTitle"></span></td>
        <td><span ng-bind="job.datePosted"></span></td>
        <td><span ng-bind="job.postedBy"></span></td>
        <td><span ng-bind="job.views"></span></td>
        <td><span ng-bind="job.applicants"></span></td>
        <td><span class="glyphicon glyphicon-pencil"></span></td>
        <td><span class="glyphicon glyphicon-trash"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
