<div class="addToilUser">
  <div id="wrapper">
  <toil-left-bar></toil-left-bar>
  <toil-header></toil-header>
  <div class="tab-pane container" id="manageJobs" ng-controller="manageJobController">
    <div class="well well-sm main-well">Current Jobs</div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>JOB TITLE</th>
        <th>DATE POSTED</th>
        <th>POSTED BY</th>
        <th>VIEWS</th>
        <th>INTEREST</th>
        <th><span class="glyphicon glyphicon-pencil"></span></th>
        <th><span class="glyphicon glyphicon-trash"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="job in currentJobs.data |itemsPerPage: pageSize" current-page="currentPage">
        <td><span ng-bind="job.id"></span></td>
        <td><span ng-bind="job.jobTitle"></span></td>
        <td><span ng-bind="job.datePosted"></span></td>
        <td><span ng-bind="job.postedBy"></span></td>
        <td><span ng-bind="job.views"></span></td>
        <td><span ng-bind="job.applicants"></span></td>
        <td><span class="glyphicon glyphicon-pencil" ng-click="editJob(job)"></span></td>
        <td><span class="glyphicon glyphicon-trash" ng-click="deleteJob(job)"></span></td>
      </tr>
      </tbody>
    </table>
    <div class="text-right">
      <dir-pagination-controls boundary-links="true" template-url="views/shared/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

    <div class="well well-sm main-well">Achived Jobs</div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>JOB TITLE</th>
        <th>DATE POSTED</th>
        <th>POSTED BY</th>
        <th>VIEWS</th>
        <th>INTEREST</th>
        <th><span class="glyphicon glyphicon-pencil"></span></th>
        <th><span class="glyphicon glyphicon-trash"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="job in archivedJobs.data">
        <td><span ng-bind="job.id"></span></td>
        <td><span ng-bind="job.jobTitle"></span></td>
        <td><span ng-bind="job.datePosted"></span></td>
        <td><span ng-bind="job.postedBy"></span></td>
        <td><span ng-bind="job.views"></span></td>
        <td><span ng-bind="job.applicants"></span></td>
        <td><span class="glyphicon glyphicon-pencil"></span></td>
        <td><span class="glyphicon glyphicon-trash"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
