<div class="budget">
  <div id="wrapper">
    <div class="homeDeactiveBanner">

    </div>
    <div class="tab-content">
      <div class="tab-pane container active" id="account">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline text-center">
              <li><span class="glyphicon glyphicon-remove"></span>
                <h5>Please read the terms and conditions of use carefully before you start to use the TOIL ap  ay not use our app:

                  i.	In any way that breaches any applicable local, national or international law or regulation.
                  ii.	In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect	.
                  iii.	For the purpose of harming or attempting to harm minors in any way.
                  iv.	To send, knowingly receive, upload, download, use or re-use any material that does not comply with  our Content Standards.
                  v.	To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).
                  vi.	To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any device software or hardware.

                  b.	You also agree:
                  i.	Not to reproduce, duplicate, copy or re-sell any part of our app.
                  ii.	Not to access without authority, interfere with, damage or disrupt any part of our app;
                  iii.	any equipment or server on which our site is stored;
                  iv.	any software used in the provision of our site; or
                  v.	any equipment or network or software owned or used by any third party.
                  c.	We may from time to time provide interactive services in our app, including, without limitation:
                  i.	Chat rooms.
                  ii.	Bulletin boards.</h5></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
