<div class="container">
  <div class="row">
    <div class="col-md-12 alignCenter underline" style="margin-top: 50px">
      <a class="loginLink" ng-href="#/"><span class="glyphicon glyphicon-chevron-left"></span>Go back to login page</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 alignCenter tnclogo">
      <a href="/jobPortal"><img src="../../images/toil_logo.png" style=" background-color: #000000;width: 175px"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 alignCenter">
      <h4>PORTAL</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 alignCenter">
      <img src="../../images/tncIcon.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 alignCenter">
      <h4 class="yellowText">TERMS & CONDITIONS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="margin-left: 50px">
      <p>
      <h5>Please read the terms and conditions of use carefully before you start to use the TOIL ap  ay not use our app:<br></h5>
      <ol>
        <li>
          In any way that breaches any applicable local, national or international law or regulation.
        </li>
        <li>
          In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect	.
        </li>
        <li>
          For the purpose of harming or attempting to harm minors in any way.
        </li>
        <li>
          To send, knowingly receive, upload, download, use or re-use any material that does not comply with  our Content Standards.
        </li>
        <li>
          To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).
        </li>
        <li>
          To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any device software or hardware.
        </li>
      </ol>
      b.	You also agree:
      <ol>
        <li>Not to reproduce, duplicate, copy or re-sell any part of our app.
        </li>
        <li>Not to access without authority, interfere with, damage or disrupt any part of our app;
        </li>
        <li>
          any equipment or server on which our site is stored;
        </li>
        <li>
          any software used in the provision of our site; or
        </li>
        <li>
          any equipment or network or software owned or used by any third party.
        </li>
      </ol>
      We may from time to time provide interactive services in our app, including, without limitation:
      <ul>
        <li>
          i.	Chat rooms.
        </li>
        <li>
          ii.	Bulletin boards.
        </li>
      </ul>
      </p>

    </div>
  </div>
</div>
