<div class="toilLanding">
  <div id="wrapper">
    <toil-left-bar></toil-left-bar>
    <toil-header></toil-header>
    <div class="homeBanner">

    </div>
    <div class="tab-content">
      <div class="tab-pane container active" id="account">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline text-center">
              <li><a href="#a" data-toggle="tab"><span class="glyphicon glyphicon-user"></span><p>Account</p></a>
              <h6>Manage your account, <br/>add/remove users, <br/>manage permissions.</h6></li>
              <li><a href="#b" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span><p>Jobs</p></a>
                <h6>Add,remove and update jobs. <br/> <br/> <br/> </h6></li>
              <li><a href="#c" data-toggle="tab"><span class="glyphicon glyphicon-flash"></span><p>Analytics</p></a>
                <h6>Download your reports.<br/> <br/> <br/> </h6></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
