<div class="spin" style="display: none;"><span class="spinIcon"></span></div>
<section class="loginSection">
 <div class="container loginSectionContainer" ng-controller="loginPageController">
   <div class="alignCenter">
     <a href="/jobPortal"><img class="toilWhiteIcon" style="width: 175px;"></a>
   </div>
   <div class="alignCenter" style="padding-bottom: 30px">
     <h4 class="whiteText">PORTAL</h4>
   </div>
     <div class="loginBody animate-show" ng-hide="fpwFlag">
         <form id="signInFormID" method="post" class="signin-form redValidForm" ng-controller="loginController " role="form" name="form">
             <div class="error yellowText">
             </div>
             <input type="text" name="emailid" class="form-control logininput" placeholder="Email address" autofocus>
             <input type="password" name="password" class="form-control logininput" placeholder="Password" style="margin-top:20px;">
             <div class="alignCenter forgotPass">
                 <a ng-click="forgotPwClick()" class="whiteText underline" style="font-size: 13px">Forgotten your password?</a>
             </div>
             <button class="btn btn-sm btn-block yellowBtn bdr15 loginBlueBtn" type="submit" ng-click="login()"  style="margin-top:40px;">Log in</button>
         </form>
     </div>
     <div class="forgotPwBody animate-show" ng-show="fpwFlag">
         <form id="resetPwFormid" method="post" class="fpwd-form redValidForm" role="form" name="form">
             <div class="error yellowText" style="padding-left: 10px;">
             </div>
             <div class="resetpwLabel alignCenter">
                 <h5 class="whiteText">PASSWORD RESET</h5>
             </div>
             <div class="resetpwLabel alignCenter">
                 <input type="text" name="emailid" class="form-control emailInput"
                        placeholder="Enter your email" autofocus>
             </div>
             <div class="row">
                 <p class="whiteText" style="text-align: center">You will receive an email with instructions <br/> on
                     how to reset your password.</p>
             </div>
             <div class="row">
                 <div class=" col-md-12"><p class="whiteText"  style="text-align: center">Just in case check <br/>
                     your spam folder too.</p></div>
             </div>
             <button class="btn btn-sm btn-block yellowBtn bdr15 loginBlueBtn" type="submit"  ng-click="resetPassword()"  style="margin-left: 20px">
                 Reset my password</button>
         </form>
     </div>
      <footer class="toilFooter" ng-controller="footerController">
          <div class="container" ng-hide="fpwFlag">
              <div class="row">
                  <div class="col-lg-12">
                      <a ng-href="#/tnc" class="headerLink">Terms & Conditions</a>
                  </div>
              </div>
          </div>
          <div class="container" ng-show="fpwFlag">
              <div class="row">
                  <div class="col-lg-12">
                      <a ng-href="#/" ng-click="gotoLogin()" class="headerLink"><span class="glyphicon glyphicon-chevron-left"></span>
                          Go back to login page</a>
                  </div>
              </div>
          </div>

      </footer>
  </div>
</section>

