<div class="spin" style="display: none;"><span class="spinIcon"></span></div>

<div class="addToilUser" ng-controller="addUserController">
  <div id="wrapper">
    <toil-left-bar></toil-left-bar>
    <toil-header></toil-header>
    <div class="tab-pane container" id="addUser" ng-hide="addUserFlag">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <th>First Name</th>
            <th>LAST NAME</th>
            <th>Username</th>
            <th>Email Address</th>
<!--
            <th><span class="glyphicon glyphicon-ok"></span></th>
            <th><span class="glyphicon glyphicon-pencil"></span></th>
-->
            <th><span class="glyphicon glyphicon-trash"></span></th>
            </thead>
            <tbody>
            <tr ng-repeat="user in Users.data">
              <td><span ng-bind="user.firstName"></span></td>
              <td><span ng-bind="user.lastName"></span></td>
              <td><span ng-bind="user.userName"></span></td>
              <td><span ng-bind="user.emailId"></span></td>
<!--
              <td>
                <span ng-if="user.isActive==1">
                  <input type="checkbox" id="checkbox1" name="checkbox1" />
                  <label for="checkbox1"><span></span></label>
                </span>
              </td>
              <td><span ng-if="user.isEditable" class="glyphicon glyphicon-pencil"></span></td>
-->
              <td><span class="glyphicon glyphicon-trash" ng-click="deleteUser(user)"></span></td>
            </tr>
            </tbody>
          </table>
          <a id="addNewUser" ng-click="addUserClick()" ><span class="glyphicon glyphicon-plus-sign" style="vertical-align: middle;
            margin-right: 5px"></span>Add new user</a>
        </div>
      </div>
    </div>
    <div ng-show="addUserFlag">
      <div class="row">
        <div class="col-md-9 col-md-offset-1 well well-sm main-well">ADD A NEW USER</div>
      </div>
      <div class="row">
        <div class=" col-md-8 col-md-offset-1 well well-sm basicInfo">Basic Info</div>
        <button class="btn col-md-1 saveBtn" type="submit" ng-disabled="!addtoilUserForm.$valid" ng-click="addtoilUserForm.$valid && createNewUser()">Save</button>
      </div>
      <form name="addtoilUserForm" id ="addUserForm" class="form-horizontal col-md-offset-1" novalidate>
        <div class="form-group">
          <label for="fName" class="col-sm-2 control-label">First Name<span class="glyphicon glyphicon-menu-right arrowIcon"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control inputBox" id="fName" ng-model="firstName" required>
          </div>
        </div>
        <div class="form-group">
          <label for="lName" class="col-sm-2 control-label">Last Name<span class="glyphicon glyphicon-menu-right arrowIcon"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control inputBox" id="lName" ng-model="lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email Address<span class="glyphicon glyphicon-menu-right arrowIcon"></span></label>
          <div class="col-sm-4">
            <input type="email" class="form-control inputBox" id="email" ng-model="emailid" required>
          </div>
        </div>
        <div class="form-group">
          <label for="company" class="col-sm-2 control-label">Company<span class="glyphicon glyphicon-menu-right arrowIcon"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control inputBox" id="company" ng-model="company" required>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNum" class="col-sm-2 control-label" style="padding-right: 0px">Work Phone Number<span class="glyphicon glyphicon-menu-right arrowIcon"></span></label>
          <div class="col-sm-4">
            <input type="number" class="form-control inputBox" id="phoneNum" ng-model="phoneNumber" required >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

