<!DOCTYPE html>
<html ng-app='myApp'>
<head lang="en" >
    <meta charset="UTF-8">
    <title>Service demo using service method</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
</head>
<body>
  <div>
    <div ng-controller="CalculatorController">
      Enter a number:
      <input type="number" ng-model="number">
      <button  ng-click="findSquare()">Square</button>
      <div>{{answer}}</div>
    </div>
  </div>
</div>
<script>

  var myApp = angular.module('myApp', ['CalculatorService']);
  myApp.controller('CalculatorController', function ($scope, Calculator) {
    $scope.findSquare = function () {
      $scope.answer = Calculator.square($scope.number);
    }
  });


</script>
  <script src="calcService.js" ></script>

</body>
</html>
