<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div class="navbar" ng-controller="NavController">
    <li class="menu-item" ng-click="doSomething()">Something</li>
</div>

<div class="contentArea" ng-controller="ContentAreaController">
    <button ng-click="doSomething()">Something</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
<script src="../script/GlobalNameSpaceIssueController.js" ></script>

</body>
</html>
