<!doctype html>
<html lang="en" class="no-js">
   <!--[if lte IE 9]>
        <div style="margin:5px;">
            <h4 style="color:#cc3333;margin-bottom:5px;">Your Browser Is Not Supported!</h4><br />
            <p>Please upgrade to the latest version of <a href='http://getfirefox.com' style='text-decoration:underline;'>FireFox</a>, <a href='https://www.google.com/chrome/browser/' style='text-decoration:underline;'>Chrome</a> or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' style='text-decoration:underline;'>Internet Explorer</a>.</p>
        </div>
   <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corporate | Taxiforsure</title>
    <link rel="shortcut icon" type="image/ico" href="http://cdn1.taxiforsure.com/v2/img/corp/favicon.ico">

    <!-- build:css(app) styles/vendor.css -->
        <link rel="stylesheet" href="styles/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="styles/angular-dropdowns.css" />
    <!-- endbuild -->
    <!-- build:css(app) styles/style.css -->
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/responsive.css" />
    <!-- endbuild -->

  </head>
  <body ng-app="corporateApp">
    <div ui-view class="contentWrap" ng-controller="appController"></div>
    <script type="text/ng-template" id="tfs-logged-header.html">
        <header class="newheader fixheader" ng-controller='headerController'>
                <a href="/" class="fL"><img src="http://cdn1.taxiforsure.com/v2/img/corp/corporate_logo.png" alt="taxiforsure" style="height: 50px;margin-left: 50px;"></a>
                <div class="fL navMenu ptFnt" style="margin-top: 15px;">
                    <ul>
                        <li><a ng-href="/booking" ng-hide="page.name == 'booking'" class="headerLink">BOOKING</a></li>
                        <li><a ng-href="/invoice" ng-hide="page.name == 'invoice'" class="headerLink">INVOICE & RECEIPT</a></li>
                    </ul>
                </div>
                <div class="fR" style="margin-right: 50px;margin-top: 15px;">
                    <div ng-controller="DropdownCtrl" class="mainMenuWap">
                        <span class="dropdown" on-toggle="toggled(open)" >
                          <a href class="dropdown-toggle headerLink dIB">
                            <div class="ptFnt color333 f16"><span ng-bind="corpData.corporateName"></span>&nbsp;<span class="glyphicon glyphicon-cog" style="top: 4px;"></span></div>
                            <input type="hidden" ng-value="corpData.corporateName" id="corpName"/>
                          </a>
                          <ul class="dropdown-menu" style="padding: 0px;">
                            <li><a class="menuItem" href="/prepaid-payment" ng-hide="page.name == 'prepaid'">Prepaid Payment Option</a></li>
                            <li><a class="menuItem" href="/transaction-report">Transaction Report</a></li>
                            <li><span class="menuItem" ng-controller="ModalDemoCtrl" ng-click="open('sm')">Reset Password</span></li>
                            <li><span class="menuItem" ng-click="logOut()">Logout</span></li>
                          </ul>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
        </header>
    </script>

    <script type="text/ng-template" id="tfs-header.html">
        <header class="newheader">
                <a href="/" class="fL"><img src="http://cdn1.taxiforsure.com/v2/img/corp/corporate_logo.png" alt="taxiforsure" style="height: 50px;margin-left: 50px;"></a>
                <div class="fR">
                    <div class="fL navMenu ptFnt" style="margin-top: 15px;">
                        <ul>
                            <li><a ng-href="/#/?scroll_to=features" class="headerLink">FEATURES</a></li>
                            <li><a ng-href="/#/?scroll_to=product_tour" class="headerLink">PRODUCT TOUR</a></li>
                            <li><a href="/#/faq" class="headerLink" data-link-id="faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
        </header>
    </script>

    <script type="text/ng-template" id="tfs-footer.html">
        <footer class="homeFooter">
            <h3>TaxiForSure has serviced more than 30,00,000 cab bookings across India</h3>
            <nav>
                <a href="/#/aboutUs" target="_blank">About Us</a>
                <a href="http://blog.taxiforsure.com" target="_blank">Blog</a>
                <a href="http://www.taxiforsure.com/faqs/" target="_blank">FAQ</a>
                <a href="http://www.taxiforsure.com/press/" target="_blank">Press</a>
                <a href="http://www.taxiforsure.com/contact-us/" target="_blank">Contact Us</a>
                <a class="last" href="http://www.taxiforsure.com/tos/" target="_blank">Terms of Use</a>
            </nav>
            <span class="copyright">&copy; 2014 Serendipity Infolabs Pvt. Ltd</span>
            <div class="clearfix"></div>
        </footer>
    </script>

    <tfs-tpls></tfs-tpls>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35046315-5', 'tfsenterprise');
//        ga('send', 'pageview'); tracked from js after angular load and state change

    </script>
    <!-- End Google Analytics -->

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

    <!-- build:js(app) scripts/vendor.js -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/jquey-plugins/jquery.slimscroll.min.js"></script>
        <script src="vendor/jquey-plugins/jquery.validate.min.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/moment.min.js"></script>
        <script src="vendor/angular/angular-resource.min.js"></script>
        <script src="vendor/angular/angular-sanitize.min.js"></script>
        <script src="vendor/angular/angular-animate.min.js"></script>
        <script src="vendor/angular/angular-ui-router.min.js"></script>
        <script src="vendor/angular/angular-ui-bootstrap.js"></script>
        <script src="vendor/angular/angular-local-storage.js"></script>
        <script src="vendor/angular/angular-dropdowns.js"></script>
        <script src="vendor/angular/ngAutocomplete.js"></script>
        <script src="vendor/angular/daterangepicker.js"></script>
        <script src="vendor/angular/ng-bs-daterangepicker.js"></script>
        <script src="vendor/angular/angular-file-upload.min.js"></script>
    <!-- endbuild -->

    <!-- build:js(app) scripts/scripts.js -->
        <script src="scripts/common.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/tfs-ui-bootstrap.js"></script>

        <script src="scripts/directives/index.js"></script>
        <script src="scripts/directives/bookings.js"></script>

        <script src="scripts/factories/tfsApi.js"></script>
        <script src="scripts/factories/transactionAPI.js"></script>
        <script src="scripts/factories/booking.js"></script>
        <script src="scripts/services/index.js"></script>
        <script src="scripts/filters/index.js"></script>

        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/newBooking.js"></script>
        <script src="scripts/controllers/prepaidBalance.js"></script>
        <script src="scripts/controllers/bookingAccordian.js"></script>
        <script src="scripts/controllers/trackView.js"></script>
        <script src="scripts/controllers/trackTaxiMap.js"></script>
        <script src="scripts/controllers/viewBookings.js"></script>
        <script src="scripts/controllers/invoiceReceipt.js"></script>
        <script src="scripts/controllers/timePicker.js"></script>
        <script src="scripts/controllers/datePicker.js"></script>
        <script src="scripts/controllers/pickDrop.js"></script>
        <script src="scripts/controllers/taxiModal.js"></script>
        <script src="scripts/controllers/enquiry.js"></script>
        <script src="scripts/controllers/faq.js"></script>
        <script src="scripts/controllers/fares.js"></script>
        <script src="scripts/controllers/signUp.js"></script>
        <script src="scripts/controllers/prepaidController.js"></script>
        <script src="scripts/controllers/transactionHistory.js"></script>

    <!-- endbuild -->
  </body>
</html>
