<div>
    <p>The portal <a href="//corporate.taxiforsure.com" target="_blank">corporate.taxiforsure.com</a>, (the <b>“Website”</b>) is owned and operated by Serendipity Infolabs Private Limited. </p>
    <p>These Terms and Conditions of Service along with the Schedule (<b>“Terms”</b>), apply to your visit to and use of the Website to avail the Services (as defined below) whether through a computer or a mobile phone, by way of the Application (as defined below), as well as to all information, recommendations and or Services provided to you on or through the Website, the Service and the Application. For the purposes of these Terms, <b>“TFS”</b> shall mean Serendipity Infolabs Private Limited and <b>“you”</b> and <b>“your”</b> shall mean the Company opting to avail of the Services provided through the Website, the Service and the Application, through its’ authorized signatory.</p>
    <p>PLEASE READ THESE TERMS CAREFULLY BEFORE DOWNLOADING THE APPLICATION AND/ OR USING THE SERVICE AND WEBSITE.</p>

    <h3>Nature of services offered by TFS</h3>
    <p>TFS provides transportation services, and bookings for the same, which may be requested by you through either a dedicated admin login on the Website, or a mobile application with a corporate login, (hereinafter referred to as the <b>“Channel(s)”</b>) downloaded and installed by you on your single mobile device (smart phone) (the <b>“Application”</b>). All services provided by TFS to you by means of your use of the Channel(s), for booking purposes, are hereinafter referred to as the <b>“Service”</b>. </p>

    <h3>Agreement between TFS and you</h3>
    <p>By using the Service, you enter into a binding contract with TFS (the <b>“Contract”</b>). In order to be able to use the Service, you are required to read and accept the terms and conditions on the Website. By using the Service, you signify your agreement to these Terms as well as the Website’s Privacy Policy (which is hereby incorporated by reference herein). These Terms set out the legally binding terms of the Services available on the Website as well as the terms of use of the Website. </p>

    <h3>Your use of the Service</h3>
    <ol>
        <li>
            You represent and warrant that:
            <ul>
                <li>Your organisation is an entity duly organised and validly existing under the laws of its jurisdiction, and has all requisite power and authority (including corporate power and authority, where applicable) to avail the Services and agree to these Terms;</li>
                <li>Your use of the Website, Application and / or Services shall not violate any applicable law or regulation; and</li>
                <li>The information you provide to TFS is accurate and complete for the information requested by the respective Channel of booking. TFS is entitled at all times to verify the information that you have provided and to refuse the Service or use of the Application without providing reasons. </li>
            </ul>
        </li>

        <li>
            You expressly understand and agree that:
            <ul>
                <li>TFS shall take all reasonable steps to ensure that the functions, information and materials on the Website, Application, Channels or Services, function without interruption, except where specifically outside the control of TFS. However, TFS does not warrant that content, information and materials available from linked third party websites will be uninterrupted, timely or error-free, or the servers that make such content, information and materials available are free of viruses or other harmful components;</li>
                <li>TFS will not share your contact details or your employees’ contact details with any third party. TFS may send promotional messages to your contact details and contact details of your employees registered on any Channel.</li>
                <li>TFS shall take all reasonable steps to ensure that material available for download on the Website, Application, Channels or Services are safe for download and shall not cause damage to your computer systems or mobile phones. Any material downloaded or otherwise obtained through the Website, Application, Channels or Services, from a third party link, are accessed at your own risk, and you will be solely responsible for any damage or loss of data that results from such download to your computer systems or mobile phones; and</li>
                <li>When you access a link that leaves the Website, the site you will enter into is not controlled by TFS and different terms of use and privacy policies may apply. You acknowledge that TFS is not responsible for those sites. TFS reserves the right to disable links from third-party sites to the Website, although TFS is under no obligation to do so.</li>
            </ul>
        </li>

        <li>
            You further agree that:
            <ul>
                <li>You will use the Service and the corporate login of the Application and will not resell it to a third party; </li>
                <li>You will not advertise or sell the Services for commercial purposes of any kind;</li>
                <li>You will not authorize others to use your account;</li>
                <li>Sub-logins for employee bookings may be created and registered by you on TFS’ portal (<b>“Employee Sub-logins”</b>);</li>
                <li>With respect to creating Employee Sub-logins, you are authorized by your employees to disclose details with respect to such employees, i.e. name, contact details, including but not limited to phone numbers and email ids. You further agree and accept that TFS shall not be liable for any objections raised or claims made of whatsoever nature in the event such employees objects to the disclosure of his/her information to TFS;</li>
                <li>You will not assign or otherwise transfer your account to any other person or legal entity;</li>
                <li>You will not use an account that is subject to any rights of a person other than you without appropriate authorization;</li>
                <li>You will not use the Service or Application for unlawful purposes, including but not limited to sending or storing any unlawful material or for fraudulent purposes;</li>
                <li>You will not use the Service or Application to cause nuisance, annoyance or inconvenience;</li>
                <li>You will not impair the proper operation of the network;</li>
                <li>You will not try to impair the Service or Application in any way whatsoever;</li>
                <li>You will not copy, or distribute the Application or other TFS Content without written permission from TFS;</li>
                <li>You will keep secure and confidential your account password or any identification TFS provides you, including the Employee Sub-logins created by you, which allows access to the Service through any Channel. In the event your account is compromised, you will immediately notify TFS of the same and you shall be held liable for any costs and damages that may be incurred by TFS due to such compromise;</li>
                <li>You will provide TFS with whatever proof of identity TFS may reasonably request;</li>
                <li>You will only use an  authorized network to avail the Service;</li>
                <li>You will not hold TFS liable, and TFS shall not be responsible for any fraud, misuse or unauthorized use due to compromise of login credentials allotted to you/ created by you in any channel; and</li>
                <li>You will comply with all applicable laws of the jurisdiction in which you are present, while using the Application or Service.</li>
            </ul>
            TFS reserves the right to immediately terminate the Service and the use of the Application should you not comply with any of the above terms.
        </li>
    </ol>

    <h3>Registration</h3>
    <p>You shall be required to provide such details as TFS requests from you for the purposes of the delivery of the Services and your payment for the Services. Registration on the Website is mandatory with an authorized admin id, which shall be recognised by TFS for all bookings made by you. All Employee Sub-logins shall be generated through the registered login id, and the administration of all these logins shall be your sole responsibility. You hereby agree to provide registration details that are requested by TFS.</p>

    <h3>Placing a SERVICE REQUEST</h3>
    <p>You can place a service request through any of the Channels. </p>
    <ol>
        <li>
            Service Requests placed via the Website
            <ul>
                <li>For service requests to be recognized and to avail corporate credit, it should be placed from the authorized admin login or the Employee Sub-logins created and registered on the Website;</li>
                <li>While placing a service request, it is mandatory to provide passenger contact details;</li>
                <li>All transaction related communication will be forwarded to the passenger’s mobile number and e-mail id provided at the time of placing the service request;</li>
                <li>The Admin of the registered account can at all times view all details of the service requests and bookings made through the Website;</li>
                <li>Driver details will be made available by TFS 30 (thirty) minutes prior to the requested pick-up time;</li>
                <li>In the event you have any enquiries with respect to the Service request, such enquiries shall be routed to the local call centre;</li>
                <li>Applicable invoices will be raised on the consolidated serviced booking on the agreed periodicity.</li>
            </ul>
        </li>

        <li>
            Service Requests placed via the Application
            <ul>
                <li>Access to corporate bookings via the Application will be provided by your admin to interested employees by registering the employee’s email id, mobile numbers, employee ids and other applicable employee information;</li>
                <li>The registered employees will be able to authenticate their user details and link their app account for official bookings, till their login is deactivated; </li>
                <li>The registered employees can mark the bookings as official / personal. Only bookings marked as official will be charged to you (prepaid/credit/cash). </li>
                <li>Communications to passengers will be the same as though booked through the Website;</li>
                <li>Booking functionality will be available to the registered employees and admin on the Application. Reporting and sub-login management will not be part of the Application;</li>
            </ul>
        </li>
    </ol>
    <p>TFS will store the information provided by you at the time of registration on each Channel for contacting you for all Service related matters. You shall promptly inform TFS of any change in the information provided, in order for TFS to serve you better. It is your responsibility to ensure that you download the correct Application for your device. TFS is not liable if you do not have a compatible mobile device or if you download the wrong version of the Application for your mobile device. TFS reserves the right to terminate the Service and the use of the Application should you be using the Service or Application with an incompatible or unauthorized device. TFS will not disclose information provided at the time of registration to any third party and shall maintain confidentiality of the information at all times.</p>
    <p>Point of Contact: Information sent by TFS will be sent to the mobile number or email ID provided at the time of your registration. However, individual booking related information can be directed to an e-mail/phone number of the passenger that may different from the registered contact. TFS will not be responsible for any change in the mobile number/ e-mail ids which have not been updated on the Website as registered id for communication purposes or for the data provided at the time of booking by you.</p>

    <h3>Confirmation of booking</h3>
    <p>TFS shall, upon receiving a Service request from you, proceed to confirm or decline the booking based on the availability of vehicles (“Vehicles”) at the pickup time, which shall be informed to you via SMS and/ or email provided at the time of booking or to the registered contact in the absence of any specification.</p>
    <p>You may, upon availing or attempting to avail the Services, receive SMS’s on your registered mobile number from TFS regarding the following: (i) confirmation of booking - including driver name, vehicle license number and the ability to contact the driver by telephone; (ii) TFS declining your booking; (iii) total fees to be paid. However, the above list is not exhaustive in nature and you may receive additional and different messages from TFS. You hereby understand, agree and consent to the receipt of such messages from TFS.</p>
    <p>In the event the booking is confirmed, you shall check the booking details including but not limited to pick up time and pick up place, and if there are incorrect details, report the same to TFS immediately. You shall be responsible for immediately reporting the errors, if any, in the information sent to you regarding booking confirmation. TFS shall not be responsible for the consequences and damages, for any delay that may be caused to you due to your failure to check the confirmation SMS/ email. TFS shall also not be liable for your failure to inform TFS of the incorrect details immediately through a call routed to our call centres.</p>
    <p>You shall ensure that any individual booking related concerns, as dealt with above, are routed to TFS’ call center contact in your locations. You may reach our call centre at 080 60601010 for Bangalore, 011 60601010 for Delhi and 044 60601010 for Chennai. TFS shall endeavour to answer your calls and cater to your requirements within a reasonable period of time.</p>
    <p>It is your responsibility to ensure that an employee for whom a service request is placed via the Website, the Channel or the Application consents to his/ her information being disclosed to TFS for the provision of Services.</p>
    <p>It is hereby clarified that, TFS cannot guarantee the availability of a Vehicle even though the booking is confirmed. However, TFS will endeavour to arrange a Vehicle for you, failing which, TFS shall inform you 30 (thirty) minutes before the pickup time. Based on your response, TFS shall continue searching for a Vehicle.</p>

    <h3>Cancellation Policy</h3>
    <p>You may cancel a booking 1 (one) hour prior to the time of the journey, without any cancellation charges. Any cancellation made within 1 (one) hour of travel <b>may</b> attract cancellation charges, at the discretion of TFS. In instances where booking was made under a flat rate, 50% of the fare shall be payable as cancellation fee. For outstation booking, 50% of the reservation charges shall be payable as cancellation fee. Instances where fare is payable as per the taxi meter, 50% of the minimum fare is payable. Cancellation charges will be set-off against the payment made in advance for the Services, if the requisite amount is available to your credit.</p>

    <h3>Fares and payment</h3>
    <p>The fare applicable to each trip is as stated on the Website and shall remain in force for [⦁] months. Any change in fares shall be intimated via e-mail to your registered id, ten (10) days prior to the changes being effected. Service tax shall be charged in addition to the above.</p>
    <p>Payments for any Service requests are required to be made by you to TFS in accordance with the agreed sums, stated on our website. The applicable fares shall be paid using the payment gateway, NEFT, cheque or RTGS. Settlement options shall be as agreed between the Parties hereto, provided however that, the credits of cheque payment will be effected only on clearing.</p>
    <p>TFS shall not be liable to refund any payments made by you. The amount paid in advance can be exhausted by availing Services worth the amount paid up and credited to your account. Please ensure you fill up the payment amount with due care, and verify all fields before proceeding for payment.</p>
    <p>Information relating to credit cards and debit cards provided by you for the purpose of payment is provided only on the secure third party payment gateway utilized by TFS. TFS does not collect or disclose this information.</p>
    <p>Any payments are for the amount payable for the transportation (the metered fare, in addition to any luggage charges, waiting charges, toll charges, or other charges pertaining to the fact of transportation), as well as towards the applicable service tax net of any tax deduction at source, as applicable under law.</p>

    <h3>Waiting Policy and Modification of bookings</h3>
    <p>The driver of the Vehicle shall wait, at no extra charge for 15 (fifteen) minutes, from the agreed booking time. For any additional time, you shall be charged an additional sum of every minutes which the driver is required to wait. The Charges for the same is mentioned in the Farechart in the website</p>
    <p>In the event you wish to modify any bookings made for the Services, you will ensure that such modifications are brought to the notice of TFS before the receipt of driver details for the applicable booking through a call routed to our call centres, as stated above.</p>

    <h3>Luggage Policy</h3>
    <p>You shall take full responsibility of your items and luggage. In case of lost items inside the Vehicle during the journey, TFS will try to locate the items on a "best-effort" basis but is not responsible for the same in case of loss or damage to such items and luggage. If you leave any goods in the vehicle or have any complaint in respect of the Services or the use of the Vehicle, you are required to inform TFS, at the earliest, by contacting our call centre and inform TFS in writing within 24 (twenty four) hours of using the vehicle or the Services of TFS. In the event the lost items are found, the same may be collected from the TFS office after 3 (three) working days from the date you were informed. TFS shall not be responsible for delivering the same to you. However, if requested, TFS may deliver the misplaced item/s to you after 3 (three) working days from the date you were informed, subject to the place of delivery being 20 kms from the office of TFS. TFS shall charge you a flat fee of Rs. 500/- for such delivery.</p>
    <p>The addresses of TFS at which such lost items may be picked up are: </p>
        <table border="1">
            <tr>
                <td>
                    <p><b>In Bangalore:</b></p>
                    <p>#41, 2nd Floor, South End D Cross, J P Nagar, Bangalore- 560078</p>
                </td>
                <td>
                    <p><b>In Delhi:</b></p>
                    <p>Khasara # 337, Ground Floor, Sultanpur Village, Near Sultanpur Metro Station, Delhi- 110032</p>
                </td>
                <td>
                    <p><b>In Chennai:</b></p>
                    <p>2nd Floor, North Wing, #40, Bazullah Road, T-Nagar, Chennai – 600017</p>
                </td>
            </tr>
        </table>

    <h3>Customer Responsibilities</h3>
    <p>Smoking and drinking are absolutely prohibited in the Vehicles. The persons availing of the Services shall also not misbehave with, and shall always be courteous, to the driver of the Vehicle.</p>

    <h3>Customer Relationship Management</h3>
    <p>All issues, opinions, suggestions, questions and feedback while availing the Services may be communicated to TFS by email at <a href="mailto:feedback@taxiforsure.com">feedback@taxiforsure.com</a>. This is the official and only channel for redressal of any customer issue.</p>
    <p>In addition, [Insert name], [Insert designation] [Insert Contact Number] shall be your exclusive Customer Relations Manager. He/ she shall be available to assist with resolution of disputes or issues that may arise.</p>
    <p>Reporting of any issue needs to be within 2 (two) days of the occurrence of the issue, failing which, such issue will not be addressed.</p>
    <p>TFS shall respond to your issues within 2 (two) working days of receiving a report of the same. TFS shall endeavor to resolve the same within 10 (ten) working days. It is hereby clarified that issues are resolved on severity basis, and certain cases may be resolved earlier than others. However, TFS shall not be liable for any damages or losses in the event you are not satisfied with the resolution of any such issue.</p>

    <h3>Indemnification</h3>
    <p>You agree that you shall defend, indemnify and hold TFS, its affiliates, its licensors, and each of their officers, directors, other users, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys' fees and costs) arising out of or in connection with: (a) your violation or breach of any term of these Terms or any applicable law or regulation, whether or not referenced herein; (b) your violation of any rights of any third party; or (c) your use or misuse of the Application or Service.</p>

    <h3>Liability</h3>
    <p>The information and recommendations (if any) provided to you on or through the Website, the Application and by our call centre is for general information purposes only. TFS will reasonably keep the Website and the Application and its contents correct and up to date and shall ensure to a reasonable extent that (the contents of) the Website and/ or Application are free of errors, defects, malware and viruses or that the Website and/ or Application are correct, up to date and accurate.</p>
    <p>TFS shall not be liable for passengers using the Service for missing of trains/ flights/ events/ meetings etc., as the transportation services are dependent on many factors not in TFS’ control. You must avail of the Service taking into account check-in time, traffic, weather conditions, political rallies, natural calamities, traffic barricades, car breakdowns and any other un-expected delays. TFS will not be responsible for any delays, including but not limited to delays caused by you at the time of arrival of the vehicle. </p>
    <p>TFS shall NOT be liable:</p>
    <ol>
        <li>For any damages resulting from the use of or inability to use the Channels of booking, including damages caused by incorrect usage of website URL, error in call centre number, network issues, malware, viruses or any incorrectness or incompleteness of the information or the Website or Application, unless such damage is the result of any wilful misconduct or from gross negligence on the part of TFS;</li>
        <li>For any damages resulting from the use of (or the inability to use) electronic means of communication with the Website or the Application, or e-mail/ SMS communication including – but not limited to – damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications or compromise of your account in TFS’ systems by third parties or by computer programs used for electronic communications and transmission of viruses;</li>
        <li>For any loss or damages caused due to use of any devices installed in the vehicle;</li>
        <li>For any loss, damage or disruption of Service due to error in data provided by you at the time of booking;</li>
        <li>Any damages or losses incurred by you in the event you are not satisfied with the resolution of any complaint registered with us with respect to the Service and / or transportation services.</li>
        <li>For any delay in or failure of message due to any technical error or due to any delay on account of Service provided by the mobile service provider of TFS or your and/ or the person whose number has been provided for booking. </li>
        <li>For the accuracy of the information, any situations like congestion of network and/ or traffic jams and in no event the information sent by way of SMS shall be used for planning a meeting and/ or any other purpose. TFS shall not be responsible for any delay on account of such situations and information provided is only for sending the SMS about the cab location and trip.</li>
        <li>for complete sustainability of its Service either during activated or deactivated mode.</li>
    </ol>
    <p>IN NO EVENT SHALL TFS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR FOR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE ACCESS, USE OR PERFORMANCE OF THE WEBSITE’S SERVICES OR FOR INTERRUPTED COMMUNICATIONS, DELAY, ETC., EVEN IF TFS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES, OR INABILITY TO ACCESS THE WEBSITE OR APPLICATION, AVAIL OF THE SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, OBTAINED THROUGH THE WEBSITE OR APPLICATION OR ANY OTHER EXTERNAL WEBSITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF TFS OR ANY OF TFS’ SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY THEREOF.</p>
    <p>IN ADDITION, AND WITHOUT LIMITING THE FOREGOING, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL TFS AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF USE OR THE SERVICES RENDERED HEREUNDER, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY, OR OTHER THEORY), WARRANTY, OR OTHERWISE, EXCEED THE AMOUNT PAID IN ADVANCE FOR THE SERVICES AND STANDING TO YOUR CREDIT AT THE TIME OF THE RELEVANT ACT OR OMISSION.</p>

    <h3>Intellectual Property Ownership</h3>
    <p>TFS alone (and its licensors, where applicable) shall own all rights, title and interest, including all related intellectual property rights, in and to the Website, Application and the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the Website, Application or the Service. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by TFS or its licensors, except for the licenses and rights expressly granted in these Terms. Further, TFS grants you the right only to use of the Application and Service and you shall not and do not have the right to license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit the Application, Service or information contained on the Website.</p>
    <p>These Terms do not constitute a sale and do not convey to you any rights of ownership in or related to the Website, the Application or the Service, or any intellectual property rights owned by TFS. TFS's name, logo, and the product names associated with the Application and Service are trademarks of TFS, its affiliated companies or third parties, and no right or license is granted to use them. No information, content or material from the Website and/ or Services may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way without express written permission of TFS.</p>
    <p>TFS reserves the right to investigate and prosecute violations of any of the above to the fullest extent of the law. TFS may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that TFS has no obligation to monitor your access to or use of the Website, Service, Application or Content, but has the right to do so for the purpose of operating the Website, the Application and Service, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. TFS reserves the right, at any time and without prior notice, to remove or disable access to any Content that TFS, at its sole discretion, considers to be in violation of these Terms or otherwise harmful to the Website, the Service or Application.</p>

    <h3>Third Party websites</h3>
    <p>In the course of use of the Website, the Application and the Service, links to websites that are owned and controlled by third parties may be provided from time to time in order to enter into correspondence with, purchase goods or services from, participate in promotions of third parties. These links take you away from the Website, the Application and the Service and are beyond TFS's control. These third party websites, which you may have access to, have their own separate terms and conditions as well as a privacy policy. TFS is not responsible and cannot be held liable for the content and activities of these third party websites. You access these websites entirely at your own risk.</p>

    <h3>Terms And Termination</h3>
    <p>These Terms shall be in force and effect until terminated as set out herein. You are entitled to terminate these Terms at any time by giving TFS prior written notice of 30 (thirty) days and thereafter permanently deleting the Application installed on your smart phone or accessing the Website to avail the Services, thus disabling the use by you of the Service. Upon termination, TFS shall ensure that you do not have access to the Application through the admin login. You can close your user account at any time by following the instructions on the Website.</p>
    <p>TFS is entitled to terminate your use of the Services at any time and with immediate effect (by disabling your use of the Application and the Service, if you: (a) violate or breach any term of these Terms, including any payment obligations, or (b) in the sole and absolute opinion of TFS, misuse the Application or the Service. TFS is not obliged to give notice of the termination of the Service in advance. Termination of these Terms shall not affect any accrued rights and obligations of the parties hereto that accrue prior to the date of such termination. In the event of termination by either party hereto, TFS will be entitled recover any monies due from you for such Services that were actually availed of by you from TFS, up to the date of termination of these Terms.</p>
    <p>Notwithstanding the termination of these Terms, you hereby understand that TFS shall be entitled to store and use details with respect to the service requests placed under your account through any Channel. It is hereby clarified that TFS will not store sensitive personal details, but only information with respect to the bookings made such as pick-up and drop destination, travel time and fares collected for such bookings made by you through any Channel.</p>

    <h3>Invalidity of one or more provisions</h3>
    <p>The invalidity of any of these Terms shall not affect the validity of the other provisions of these Terms. If and to the extent that any provision of these Terms is invalid, or is unacceptable in the given circumstances according to the criteria of reasonableness and fairness, a provision shall apply between the parties instead that is acceptable considering all the circumstances and which corresponds with the provisions of the void part as much as possible, taking into account the content and the purpose of these Terms.</p>

    <h3>Disclaimer</h3>
    <p>All images, audio, video and text in the Website and/ or Application are only for illustrative purposes. None of the models, actors or products in the images, if any is endorsing the Services in any manner. Any resemblance of any character in a video to anybody or anything in any context is purely unintentional and/ or coincidental. TFS’ rights are subject to the terms of the agreement entered between TFS and its content and image providers.</p>

    <h3>Modification of the Service and  Terms</h3>
    <p>TFS reserves the right, at its sole discretion, to change, suspend, or discontinue the Service or Application (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the Website or by sending you notice through the Service, Application or via email.</p>

    <h3>Notice</h3>
    <p>TFS may give notice by means of a general notice on the Service or Application, or by electronic mail to your email address on record in TFS's account information, or by written communication sent by regular mail to your address on record in TFS's account information.</p>

    <h3>Assignment</h3>
    <p>You may not assign your rights under these Terms without prior written approval of TFS.</p>

    <h3>Privacy Policy</h3>
    <p>TFS collects and processes the personal data of the visitors of the Website and users of the Application, which data is dealt with according to the Privacy Policy uploaded on the Website, which Privacy Policy is deemed to be incorporated herein.</p>

    <h3>Applicable law and dispute resolution</h3>
    <p>These Terms are subject to the laws of India. Any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Website, the Service or the Application will be settled exclusively by the competent court in Bangalore, India.</p>
</div>