<!DOCTYPE html>
<html ng-app='appModule'>
<head lang="en">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>

  <title>Accordian</title>
  <link href="../styles/accordion.css" rel='stylesheet'>
</head>
<body ng-controller='SomeController'>
<accordion>
  <expander class='expander'
            ng-repeat='expander in expanders'
            expander-title='expander.title'>
    {{expander.text}}
  </expander>
</accordion>
</body>
<script>
  function SomeController($scope)
  {
    $scope.expanders = [
      {title: 'Click me to expand',
        text: 'Hi there folks, I am the content that was hidden but is now shown.'},
      {title: 'Click this',
        text: 'I am even better text than you have seen previously'},
      {title: 'No, click me!',
        text: 'I am text that should be seen before seeing other texts'}
    ];
  }

  var appModule = angular.module('appModule',[]);
  appModule.directive('accordion',function()
  {
    return {
      restrict: 'EA',// this will be applied to Element and atribute
      replace: true,
      transclude: true,
      template: '<div ng-transclude></div>',
      controller: function() {
        var expanders = [];

        this.gotOpened = function(selectedExpander) {
          angular.forEach(expanders, function(expander) {
            if (selectedExpander != expander) {
              expander.showMe = false;
            }
          });
        }

        this.addExpander = function(expander) {
          expanders.push(expander);
        }
      }
    }

  });
  appModule.directive('expander', function(){
    return {
      restrict: 'EA',
      replace: true,
      transclude: true,
      require: '^?accordion',//By default Angular gets the the controller from the named directive on the same element, Adding
      //this optional ^ symbol says to also walk up the DOM tree to find the directive. ? : if the required controller not found
      //then angular throws an exception but i f we add ?, this controller become optional and the exception should not be thrown.
      scope: {title: '=expanderTitle'},
      template: '<div>' +
      '<div class="title" ng-click="toggle()">{{title}}</div>' +
      '<div class="body" ng-show="showMe" ng-transclude></div>' +
      '</div>',
      link: function (scope, element, attrs, accordionController) {
        scope.showMe = false;
        accordionController.addExpander(scope);

        scope.toggle = function toggle() {
          scope.showMe = !scope.showMe;
          accordionController.gotOpened(scope);
        }
      }
    }
    });
</script>
</html>






