<div class="budget">
  <div id="wrapper">
    <toil-left-bar></toil-left-bar>
    <toil-header></toil-header>
    <div class="homeDeactiveBanner">

    </div>
    <div class="tab-content">
      <div class="tab-pane container active" id="account">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline text-center">
              <li><span class="glyphicon glyphicon-remove"></span>
                <h5>This page is not accesssible yet.</h5></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
